.main-bar {
    width: 100%;
    height: 16%;
    background-color: #3B163B;
    color: #CC8EBF;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo-profile {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
   
}

.logo-profile h1 {
    margin: 0 auto;
    margin-top: 10px;
}

.logging {
    align-self: flex-start;
    border: 2px solid #FF7A33;
    background-color: #3B163B;
    color: #FF7A33;
    font-weight: bold;
    font-size: 16px;
    border-radius: 30px;
    width: 110px;
    height: 35px;
    margin: 8px 10px 0 -110px;
}

.logging:hover {
    border: 2px solid #FF7A33;
    background-color: #FF7A33;
    color: #3B163B;
}

.log-out{
    align-self: flex-start;
    border: 2px solid #FF7A33;
    background-color: #FF7A33;
    color: #3B163B;
    font-weight: bold;
    font-size: 16px;
    border-radius: 30px;
    width: 110px;
    height: 35px;
    margin: 8px 10px 0 -110px;
}

.log-out:hover {
    border: 2px solid #FF7A33;
    background-color: #3B163B;
    color: #FF7A33;
}

.routing {
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center; 
}

.menu-buttons {
    background-color: #3B163B;
    color: #CC8EBF;
    width: 10vh;
    height: 40px;
    box-shadow: none;
    border: none;
    margin: 0 10px;
    font-weight: bold;
    font-size: 15px;
}

.menu-buttons:hover{
    background-color: #CC8EBF;
    color: #3B163B;
}
