<nav class="navbar">
  <ul class="navbar-links" [class.active]="menuOpen">
    <li class="navbar-item"><a class="navbar-link" routerLink="/blog-list">Blogs</a></li>
    <li class="navbar-item"><a class="navbar-link" routerLink="/create-blog">Create Blog</a></li>
    <li class="navbar-item"><a class="navbar-link" routerLink="/position-simulator">Simulator</a></li>
    <li class="navbar-item" *ngIf="!isLoggedIn()"><a class="navbar-link" routerLink="/register">Register</a></li>
    <li class="navbar-item"><a class="navbar-link" routerLink="/create-tour">Create Tour</a></li>
    <li class="navbar-item"><a class="navbar-link" routerLink="/tour-list">My Tours</a></li>
    <li class="navbar-item"><a class="navbar-link" routerLink="/public-tour-list">Tours</a></li>
    <li class="navbar-item"><a class="navbar-link" routerLink="/user-list">Users</a></li>
    <li class="navbar-item"><a class="navbar-link" routerLink="/profile">Profile</a></li>
    <li class="navbar-item"><a class="navbar-link" routerLink="/recommended-users">Recommended</a></li>

    <!-- Tour Execution dugme -->
    <li class="navbar-item">
      <a class="navbar-link" (click)="goToTourExecution()">Tour Execution</a>
  </li>
    <li class="navbar-item"><a class="navbar-link" routerLink="/cart">Cart</a></li>
  </ul>

  <ul class="navbar-links">
    <!-- Login / Logout -->
    <li class="special-login" *ngIf="!isLoggedIn()">
      <a class="login-link" routerLink="/login">Log in</a>
    </li>
    <li class="special-login" *ngIf="isLoggedIn()">
      <a class="login-link" (click)="logout()">Log out</a>
    </li>
  </ul>

  <!-- Hamburger dugme -->
  <div class="navbar-toggle" (click)="toggleMenu()">☰</div>
</nav>