<nav>
  <ul>
    <li>
      <a routerLink="/blog-list">Blogs</a>
    </li>
    <li>
      <a routerLink="/create-blog">Create new blog</a>
    </li>
    <li>
      <a routerLink="/position-simulator">Position simulator</a>
    </li>
    <li>
      <a routerLink="/login">Login</a>
    </li>
    <li>
      <a routerLink="/register">Register</a>
    </li>
    <li>
      <a routerLink="/create-tour">Create new tour</a>
    </li>
    <li>
      <a routerLink="/tour-list">My Tours</a>
    </li>
    <li>
      <a routerLink="/public-tour-list">Tours</a>
    </li>
    <li>
      <a routerLink="/user-list">Users</a>
    </li>
    <li>
      <a routerLink="/profile">Profile</a>
    </li>
    <li>
      <a routerLink="/recommended-users">Recommended Users</a>
    </li>
  </ul>
</nav>