<div class="create-form">
  <h2>Create new blog</h2>
  
  <form (ngSubmit)="createBlog()" #blogForm="ngForm">
    <div class="form-group">
      <label for="title">Title</label>
      <input type="text" id="title" name="title" [(ngModel)]="blog.title" required>
    </div>
    
    <div class="form-group">
      <label for="content">Content</label>
      <div class="ngx-editor-container">
        <ngx-editor-menu [editor]="editor"> </ngx-editor-menu>
        <ngx-editor
          [editor]="editor"
          [(ngModel)]="blog.content"
          name="content">
        </ngx-editor>
      </div>
    </div>
    
    <div class="form-group">
      <label for="imageUpload">Upload image</label>
      <input 
        type="file" 
        id="imageUpload" 
        (change)="onFileSelected($event)" 
        accept="image/png, image/jpeg">
      <div *ngIf="isUploading">Uploading...</div>
    </div>
    
    <div *ngIf="blog.images.length > 0">
      <h4>Uploaded images:</h4>
      <ul>
        <li *ngFor="let image of blog.images">
          <img [src]="image.url" width="100" alt="Uploaded image">
          <span>{{ image.url }}</span>
        </li>
      </ul>
    </div>
    
    <button type="submit" [disabled]="!blogForm.form.valid">Create</button>
  </form>
</div>
