/* Glavni spremnik forme */
.create-form {
  max-width: 900px;
  margin: 2rem auto;
  padding: 2rem;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  font-family: sans-serif;
}

h2 {
  text-align: center;
  margin-bottom: 2rem;
  color: #333;
}

/* Stilovi za grupe unutar forme */
.form-group {
  margin-bottom: 1.5rem;
}

/* Stilovi za labele */
label {
  display: block;
  margin-bottom: 0.5rem;
  font-weight: bold;
  color: #555;
}

/* Stilovi za tekstualni unos */
input[type="text"] {
  width: 100%;
  padding: 0.75rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 1rem;
  box-sizing: border-box; /* Važno za pravilan prikaz paddinga i bordera */
}

input[type="text"]:focus {
  border-color: #007bff;
  outline: none;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}



/* Stilovi za ngx-editor */
.ngx-editor-container {
  border: 1px solid #ccc;
  border-radius: 4px;
}

.ngx-editor-container:focus-within {
  border-color: #007bff;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
  
}

/* Stilovi za input za upload slike */
input[type="file"] {
  display: block;
  margin-top: 0.5rem;
}

/* Poruka o uploadu */
.isUploading {
  margin-top: 0.5rem;
  color: #007bff;
}

/* Stilovi za listu uploadanih slika */
ul {
  list-style-type: none;
  padding: 0;
  margin-top: 1rem;
}

li {
  display: flex;
  align-items: center;
  margin-bottom: 0.5rem;
  background-color: #fff;
  padding: 0.5rem;
  border: 1px solid #ddd;
  border-radius: 4px;
}

img {
  margin-right: 1rem;
  border-radius: 4px;
}

/* Stilovi za gumb */
button[type="submit"] {
  display: block;
  width: 100%;
  padding: 0.75rem;
  border: none;
  border-radius: 4px;
  background-color: #007bff;
  color: white;
  font-size: 1.1rem;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button[type="submit"]:hover:not([disabled]) {
  background-color: #0056b3;
}

button[type="submit"]:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}