<div class="execution-container" *ngIf="execution; else loading">
  <div *ngIf="execution.tour" class="tour-info">
    <h2>Active tour: {{ execution.tour.name }}</h2>
    <p class="description">{{ execution.tour.description }}</p>
    <p>
      <small>Status: <strong>{{ execution.status }}</strong></small> | 
      <small *ngIf="execution.start_time">Started at: {{ execution.start_time | date:'dd.MM.yyyy. HH:mm' }}</small>
    </p>
  </div>
  
  <hr>

  <div *ngIf="currentUser" class="position-info">
    <h3>Your current position</h3>
    <p *ngIf="currentUser.latitude && currentUser.longitude">
      Latitude: {{ currentUser.latitude.toFixed(4) }}, Longitude: {{ currentUser.longitude.toFixed(4) }}
    </p>
    <p *ngIf="!currentUser.latitude">
      Position not set. <a routerLink="/position-simulator">Go to simulator</a>.
    </p>
  </div>
  
  <hr>

  <div class="progress-info">
      <p>the map, key points and progress...</p> <!-- srkijev deo -->
  </div>
  
  <hr>

  <div class="actions">
    <button (click)="abandon()" class="abandon-btn">Abandon tour</button>
    <button (click)="complete()" class="complete-btn">Complete tour</button>
  </div>
</div>

<ng-template #loading>
  <p>Loading active tour...</p>
</ng-template>
